html, body{
    height: 100%;
}

button:hover{
    cursor: pointer;
}

body{
    background: url(../images/homebg.jpg) 100% 100%;
    background-size: cover;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(97, 22, 204, 0.65);
}

li {
    float: left;
}

li a {
    text-transform: uppercase;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: right;
    border-bottom: 2px solid rgba(127, 42, 254, 0.65);
    font-weight: 700;
    text-shadow: 2px 2px grey;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: rgb(40, 15, 120);
    color: purple;
}

.selected{
    background-color: rgb(40, 15, 120);
    color: purple;
}

.icons {
      margin: 3rem 0;
}
i.cc { 
    font-size: 4rem; display: inline-block; margin: 0 1.3rem 1.3rem 0; transition: 0.1s ease all; 
}
trade{
    max-width: 50px;
}
.trade button{
    border: 2px solid black;
    color: black;
    padding: 15px 32px;
    margin: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 28px;
}

.trade button:hover{
    text-shadow: 2px 2px grey;
}

#kjop {
    background-color: rgb(49, 134, 52); /* Green */
}
#bytt {
    background-color: rgb(194, 211, 46); /* Yellow */
}
#selg {
    background-color: rgb(185, 21, 21); /* Red */
}

/* overlay */
#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.85);
    z-index: 2;
}

#back{
    position: absolute;
    bottom: 1%;
    left: 50%;
    font-size: 50px;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

#x {
    color: red;
    float: right;
    margin: 5% 5%;
    font-size: 65px;
    cursor: pointer;
}
#for, #for input {
    font-size: 36px;
}
#for input{
    width: 150px;
}
#submit {
    border: 2px solid black;
    padding: 15px 32px;
    margin: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 28px;
    
}
.buy {
    background-color: rgb(49, 134, 52);
    color: white;
}
.sell {
    background-color: rgb(185, 21, 21); 
}